@model Ventas_Vehiculos.Models.TBL_Marca

@{
    ViewBag.Title = "Actualizando marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="titulo_edit">@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal letra_form" >
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TN_IdMarca)

        <div class=" form-group letra_search">
			<label class="titulo_details_tabla control-label col-md-2">Marca</label>
			<div class="col-md-10">
				@Html.EditorFor(model => model.TC_Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe marca", @required = true } })
				<br />
				@Html.ValidationMessageFor(model => model.TC_Descripcion, " Completa este campo", new { @class = "text-danger" })
			</div>
        </div>

        <div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-secondary editar">
					<i class="fa fa-refresh" aria-hidden="true"></i>
					
				</button>
			</div>
        </div>
    </div>
}

<div>
	<a class="btn btn-secondary estilo_boton_lista btn-separator" href="@Url.Action("Index", "Marcas")">
		<i class="fa fa-undo"></i>
		
	</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
