@model Ventas_Vehiculos.Models.TBL_Disenno

@{
	ViewBag.Title = "Nuevo diseño";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<h2 class="titulo_create">@ViewBag.Title</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal letra_form letra_tabla">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group letra_search">
			<label class="titulo_details_tabla control-label col-md-2">Diseño</label>
			<div class="col-md-10">
				@Html.EditorFor(model => model.TC_Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe diseño", @required = true } })
				@Html.ValidationMessageFor(model => model.TC_Descripcion, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-secondary btn_create">
					<i class="fa fa-plus"></i>
					
				</button>
			</div>
		</div>
	</div>
}

<div>
	<a class="estilo_boton_lista btn btn-secondary" href="@Url.Action("Index", "Disennos")">
		<i class="fa fa-undo" aria-hidden="true"></i>
		

	</a>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
